@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #331D2C;
    --cor-secundaria: #EFE1D1;
    --cor-terciaria: #A78295;
    --cor-hover: #3F2E3E;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao-texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;

}
.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao-links-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}

.apresentacao-links-link:hover {
    background-color: var(--cor-hover);

}

.imagem {
    width: 40%;
    border-radius: 10%;
    display: flex;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;        
    }
    .cabecalho-menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao-conteudo {
        width: auto;
    }
}